html,body{margin: 0;padding: 0;font-size: 12px; background-image: url("../images/bj.jpg"); background-repeat:repeat;}
#page{width: 900px;height: 760px;margin: 0;padding: 0;border: solid 1px blue;}
#header{background-color: green;background-image: url("../images/center.jpg");}